.text-price{
    color:rgb(21, 133, 18);
}
.Checkout{
    background-color: rgb(245, 200, 0);
}
.button-buy{
    background-color: rgba(241, 179, 9, 0.897);
    color: white;
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 3px;
    transition: 0.5s;
}
.button-buy:hover{
    background-color: rgb(228, 144, 48);
}
.fas{
    margin-left: 60px;
    color: gray;
}
.card{
    box-shadow: 1px 1px 20px rgb(236, 235, 235);
}